<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="emailSuffix" value="@international.gc.ca"/>
    <add key="redirectionURIScheme" value="https"/>
    <add key="dlEmailAddress" value ="d-prmny-cbs@international.gc.ca"/>
    <add key="numberOfDaysToAdd" value="1"/>
    <add key="htmlBodyType" value="0"/>
    <add key="recipients" value="Brenda.Wattie@international.gc.ca"/>
    <add key="subject" value ="Today&apos;s Daily Tracker - "/>
    <add key="leaveIndicator" value="*leave"/>
    <add key="oooIndicator" value="*ooo"/>
    <add key="visitorLogFolder" value="\\cngny-dmres01\IDRIVE_PRMNY\AG Visits - Visites\Accreditation\"/>
    <add key="visitorLogFileName" value="UN Passes Normal Business TRACKING.xlsx"/>
    <add key="fullNameColumn" value="1"/>
    <add key="functionalTitleColumn" value="2"/>
    <add key="departmentColumn" value="3"/>
    <add key="arrivalColumn" value="4"/>
    <add key="departureColumn" value="5"/>
    <add key="meetingColumn" value="6"/>
    <add key="EWS_URL" value="https://cngny-dmex01/ews/Exchange.asmx"/>
    <add key="exchangeVersionOrdinal" value="1"/>
  </appSettings>
</configuration>